.card-hover:hover {
    transition: outline 100ms;
    outline: 5px solid rgba(13, 110, 253, 0.3)
}

#add-board {
    bottom: 20px;
    z-index: 100;
}

#card-button:hover {
    cursor: pointer;
}

.dropdown-action:hover {
    cursor: pointer;
}