.sign-up-form {
    max-width: 330px;
    padding: 15px;
}

#email-address {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#confirm-password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
